<!DOCTYPE html>
<html class="boxed">
<head>
    <meta name="google-site-verification" content="HRY0aj8KVe1JdBgQxVkTUK8pQG0H99owJdNOKtuY6jg"/>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Θεώνη Κανελλοπούλου</title>

    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon"/>
    <!--<link rel="apple-touch-icon" href="img/apple-touch-icon.png">-->

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
          rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <%=  stylesheet_link_tag '/vendor/bootstrap/css/bootstrap.min.css' %>
    <%=  stylesheet_link_tag '/vendor/font-awesome/css/font-awesome.min.css' %>
    <%=  stylesheet_link_tag '/vendor/animate/animate.min.css' %>
    <%=  stylesheet_link_tag '/vendor/simple-line-icons/css/simple-line-icons.min.css' %>
    <%=  stylesheet_link_tag '/vendor/owl.carousel/assets/owl.carousel.min.css' %>
    <%=  stylesheet_link_tag '/vendor/owl.carousel/assets/owl.theme.default.min.css' %>
    <%=  stylesheet_link_tag '/vendor/magnific-popup/magnific-popup.min.css' %>

    <!-- Theme CSS -->
    <%=  stylesheet_link_tag '/css/theme.css' %>
    <%=  stylesheet_link_tag '/css/theme-elements.css' %>
    <%=  stylesheet_link_tag '/css/theme-blog.css' %>
    <%=  stylesheet_link_tag '/css/theme-shop.css' %>

    <!-- Current Page CSS -->

    <link rel="stylesheet" href="{{ "/assets/vendor/rs-plugin/css/settings.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/vendor/rs-plugin/css/layers.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/vendor/rs-plugin/css/navigation.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/vendor/circle-flip-slideshow/css/component.css" | relative_url }}">

  <!-- Skin CSS -->
    <%=  stylesheet_link_tag '/css/skins/default.css' %>

    <!-- Theme Custom CSS -->
    <%=  stylesheet_link_tag '/css/custom.css' %>

    <!-- Head Libs -->
    <script src="{{ "/assets/vendor/modernizr/modernizr.min.js" | relative_url }}"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
