---
layout: home
---


{% include page-header.html title="ΑΡΘΡΑ" %}

{% capture current_category %}{{ page.categories | first }}{% endcapture %}

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="blog-posts single-post">
        <article class="post post-large blog-single-post">
          <div class="post-date">
            <span class="day"> {{ page.date | date: "%d" }} </span>
            {% assign m = page.date | date: "%-m" %}
            {% case m %}
            {% when '1' %}<span class="month">Ιάν</span>
            {% when '2' %}<span class="month">Φεβ</span>
            {% when '3' %}<span class="month">Μαρ</span>
            {% when '4' %}<span class="month">Απρ</span>
            {% when '5' %}<span class="month">Μάι</span>
            {% when '6' %}<span class="month">Ιούν</span>
            {% when '7' %}<span class="month">Ιούλ</span>
            {% when '8' %}<span class="month">Αυγ</span>
            {% when '9' %}<span class="month">Σεπ</span>
            {% when '10' %}<span class="month">Οκτ</span>
            {% when '11' %}%}<span class="month">Νοε</span>
            {% when '12' %}%}<span class="month">Δεκ</span>
            {% endcase %}
          </div>
          <div class="post-content">
            <h2> {{ page.title | escape }} </h2>
            <div class="post-meta">
              <span><i class="fa fa-user"></i> {{ page.author }} </span>
              <span><i class="fa fa-tag"></i> {{ current_category }}</span>
            </div>
            {{ content }}
            <div class="post-block post-share">
              <h3 class="heading-primary"><i class="fa fa-share"></i>Μοιράσου αυτό το άρθρο</h3>

              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_pinterest_pinit"></a>
                <a class="addthis_counter addthis_pill_style"></a>
              </div>
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>
              <!-- AddThis Button END -->
            </div>
            <div class="post-block post-author clearfix">
              <h3 class="heading-primary"><i class="fa fa-user"></i>Συγγραφέας</h3>
              <div class="img-thumbnail">
                <a href="{{site.baseurl}}/cv">
                  <img src="{{ "assets/img/cv.jpg" | relative_url }}"/>
                </a>
              </div>
              <p><strong class="name">{{ page.author }}</strong></p>
              <p>Θεώνη Κανελλοπούλου, MD, PhD </p><p>Αιματολόγος, Ωνάσειο Καρδιοχειρουργικό Κέντρο</p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="col-md-3">
      <aside class="sidebar">
        <hr>
        <h4 class="heading-primary">Κατηγορίες</h4>
        <ul class="nav nav-list mb-xlg">
          {% for cat in site.categories %}
            <li {% if current_category == cat[0] %}class=active{% else %}{% endif %} >
              <a href="{{site.baseurl}}/categories/{{cat[0]}}">{{ cat[0] }} ({{ cat[1].size }})</a>
            </li>
          {% endfor %}
        </ul>
        <div class="tabs mb-xlg">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#recentPosts" data-toggle="tab">Πρόσφατα</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="recentPosts">
              <ul class="simple-post-list">
                {% for post in site.posts limit:4 %}
                  <li>
                    <div class="post-info">
                      <a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }}<a/>
                      <div class="post-meta">
                        {{ post.date | date: "%d-%m-%Y" }}
                        <!--Jan 10, 2016-->
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <hr>
      </aside>
    </div>
  </div>
</div>
